body{
   margin:0px;
   font-family: cursive;;
}

header h1{
    text-align: center;
}

.container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.color-container{
    background-color: orange;
    width:300px;
    height:150px;
    color:white;
    margin:5px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border:2px solid black;
    border-radius: 10px;
}